<footer>
    <div class="links">
        <div class="wrapper">
            <a href="#">About us</a>
            |
            <a href="#">Contact Us</a>
            |
            <a href="#">Press</a>
            |
            <a href="#" class="last">Impress</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="copyright">

            <div class="logo">
                <img src="/images/jarves-logo.png" />
            </div>
            Copyright by jarves.io - Brought to you by
            <a href="https://twitter.com/MarcJSchmidt">Marc J. Schmidt</a>
        </div>
    </div>
</footer>
</div> <!-- wrapper -->
